<button class="btn btn-primary" style="position:absolute; z-index: 10;" {{action 'back'}}>
  <span class="glyphicon glyphicon-arrow-left"></span>
</button>

<img {{bind-attr src=model.full_photo_path}} class="full-photo"/>
{{photo-paging next_photo='next_photo' previous_photo='previous_photo'}}
