{{#photo-upload upload_data=upload_data start_upload='start_upload' end_upload='end_upload' file_uploaded='file_uploaded'}}
  <h4>{{collection.pretty_name}}</h4>

  <div>Photo count: {{collection.photo_count}}</div>
  <div>Tag count: {{collection.tag_count}}</div>
  <div>Tags per photo: {{collection.average_tags}}</div>
{{/photo-upload}}
