<div class="photo_paging_bar">
  <button class="pull-left btn-link prev-photo" {{action 'previous'}}>Previous</button>
  <button class="pull-right btn-link next-photo" {{action 'next'}}>Next</button>
</div>
