<div class="row">
  <div class="col-sm-9">
    {{#photo-grid photos=model selected_photos=selected_photos open_preview='open_preview' change_page='change_page'}}
      {{view 'upload'}}
      <h1 style="text-align: center;">{{title}}</h1>
    {{/photo-grid}}
  </div>

  <div class="col-sm-3">
    {{partial 'photo/tagging'}}
  </div>
</div>
