<div class="row">
  <div class="col-md-3">
    <%= render 'tags' %>
  </div>
  <div class="col-md-9 container">
    <div class="row">
      <h3><%= @tag %></h3>

      <div id="photo-upload-div" style="border: 1px solid #008B00; padding: 30px; text-align: center; background-color: #EEFFEE">
        Drop photos here or click to add - accepts jpg, png, and gif
      </div>
      <input style="display: none" id="fileupload" type="file" name="files[]" data-url="home/upload" accept="image/*" multiple>
    </div>
    <%= render partial: 'photos', object: @photos %>
  </div>
</div>
