<div class="tag-holder" style="text-align: center">
  {{#each person in model.people}}
    {{#link-to 'person' person class="person tag-label link-tag"}}
      {{person}}
    {{/link-to}}
  {{/each}}
  {{#each place in model.places}}
    {{#link-to 'place' place class="place tag-label link-tag"}}
      {{place}}
    {{/link-to}}
  {{/each}}
  {{#each tag in model.tags}}
    {{#link-to 'tag' tag class="tag tag-label link-tag"}}
      {{tag}}
    {{/link-to}}
  {{/each}}
  {{#each group in model.collections}}
    {{#link-to 'collection' group class="collection tag-label link-tag"}}
      {{group}}
    {{/link-to}}
  {{/each}}
</div>
