.photo-thumbnail {
  max-width: 100%;
  max-height: 100%;
}

.tag-holder {
  margin: 1px 10px;
  text-align: center;
}

.photo {
  min-width: 12em;
}

.tag {
  color: #535353;
  background-color: #ffe1a3;
  cursor: pointer;
  z-index: 100;
}

.place {
  color: #535353;
  background-color: #c4ffdb;
  cursor: pointer;
  z-index: 100;
}

.person {
  color: #535353;
  background-color: #ffd3ec;
  cursor: pointer;
  z-index: 100;
}

.drop-highlight {
  border: 2px solid greenyellow;
}

.label {
  padding: 0.3em 0.6em;
  display: inline-block;
}

.add-tag {
  cursor: pointer;
}

.mini-upload {
  border: 1px solid #008B00;
  padding: 8px 40px;
  text-align: center;
  background-color: #EEFFEE;
  border-radius: 2px;
}

#bottom-tag-bar {
  position: fixed;
  bottom: 0;
  height: 10em;
  background-color: #f8f8f8;
  width: 100%;
  text-align: center;
  padding: 0.5em;
  div {
    padding: 0.5em 1em;
  }
}