html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #222222;
  color: #ffffff;
}

button {
  color: #535353;
}

.ember-view {
  height: 100%;
}

.photo-holder {
  display: inline-block;
  text-align: left;
  max-width: 100%;
}

.mini-photo-holder {
  display: inline-block;
  text-align: center;
  height: 120px;
  width: 120px;
  padding-top: 1em;
}

.full-photo {
  max-width: 100%;
  max-height: 100%;
  margin-right: auto;
  margin-left: auto;
  left: 0;
  right: 0;
  position: fixed;
}

.photo-thumbnail {
  max-width: 100px;
  max-height: 100px;
  position: relative;
  display: inline-block;

  button {
    position: absolute;
    bottom: 1em;
  }

  img {
    max-width: 900px;
    max-height: 900px;
  }
}

.photo-preview {
  position: relative;
  display: inline-block;

  button {
    position: absolute;
    bottom: 1em;
  }

  img {
    max-width: 800px;
    max-height: 800px;
  }
}

.tag-holder {
  margin: 1px 10px;
  text-align: center;
}

.tag {
  background-color: #ffeabb;
}

.place {
  background-color: #b6f1be;
}

.person {
  background-color: #ffd3ec;
}

.collection {
  background-color: #e8e8e8;
}

.tag-label {
  padding: 0.25em 0.5em;
  display: inline-block;
  font-size: 12px;
  font-weight: 100;
  margin-bottom: 0.2em;
  border-radius: 0.4em;
  line-height: 1;
  color: #535353;
  z-index: 100;
  cursor: pointer;
  margin-top: 2px;
}

.delete-tag {
  border: 0.5px solid #535353;
  position: relative;

  span {
    display: none;
    color: #e80000;
    position: absolute;
    right: 0;
    text-align: center;
    width: 100%;
    top: 2px;
  }

  &:hover {
    margin-top: 0;
    border-color: #e80000;
    span {
      display: inline;
    }
  }
}

.add-tag {
  position: relative;
  border: 0.5px solid transparent;
  cursor: pointer;

  span {
    display: none;
    color: #008a13;
    position: absolute;
    right: 0;
    text-align: center;
    width: 100%;
    top: 2px;
  }

  &:hover {
    margin-top: 0;
    border: 0.5px solid #008a13;
    span {
      display: inline;
    }
  }
}

.link-tag {
  margin-right: 5px;
}

.drop-highlight {
  border: 2px solid greenyellow;
}

.add-tags-buttons {
  margin-top: 1em;
  button {
    margin-top: 0.5em;
  }
}

.mini-upload {
  border: 1px solid #008B00;
  padding: 8px 40px;
  text-align: center;
  background-color: #005d08;
  border-radius: 2px;
}

.nav-container {
  padding-top: 1em;

  h1 {
    margin-top: 0;
  }
}

@media (min-width: 991px) {
  .nav-container {
    padding-left: 18em;
    margin-left: 1em;
  }
}

#tag-bar {
  position: fixed;
  left: 0;
  height: 100%;
  background-color: #747474;
  width: 18em;
  text-align: center;
  padding: 0.5em;
  div {
    padding: 0.5em 1em;
  }
}

.paging_bar {
  text-align: center;
  margin: 0.4em 0;
}

.photo-selected {
  border: 2px solid red;
  margin: -2px;
}

.photo_paging_bar {
  height: 100%;
  left: 0;
  right: 0;
  position: absolute;

  button {
    position: static;
    height: 100%;
    min-width: 150px;
    font-size: x-large;
    opacity: 0;
    color: #000000;

    &:hover {
      opacity: 0.4;
      text-decoration: none;
    }
  }

  .prev-photo {
    background-color: lightblue;
  }

  .next-photo {
    background-color: lightblue;
  }
}

#uploading_overlay {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5000;
  bottom: 0;
  text-align: center;

  #text {
    background-color: #333333;
    border: 1px solid #aaaaaa;
    margin-right: auto;
    margin-left: auto;
    padding: 1em 3em;
    top: 40%;
    position: absolute;
    border-radius: 5px;
  }
}
