.photo-holder {
  display: inline-block;
  text-align: left;
  max-width: 100%;
}

.photo-thumbnail {
  max-width: 100%;
  max-height: 100%;
  position: relative;
  display: inline-block;

  &:hover {
    button {
      display: block;
    }
  }

  button {
    display: none;
    position: absolute;
    left: 1em;
  }
  
  img {
    max-width: 100%;
  }
}

.tag-holder {
  margin: 1px 10px;
  text-align: center;
}

.photo {
  min-width: 10em;
}

.tag {
  color: #535353;
  background-color: #ffeabb;
  cursor: pointer;
  z-index: 100;
}

.label {
  font-size: 12px;
  font-weight: 100;
  margin-bottom: 0.2em;
}

.place {
  color: #535353;
  background-color: #b6f1be;
  cursor: pointer;
  z-index: 100;
}

.person {
  color: #535353;
  background-color: #ffd3ec;
  cursor: pointer;
  z-index: 100;
}

.drop-highlight {
  border: 2px solid greenyellow;
}

.label {
  padding: 0.3em 0.6em;
  display: inline-block;
}

@media (min-width: 991px) {
  .main {
    padding-left: 18em;
  }

  .container {
    margin-left: 20px;
  }
}

.add-tags-buttons {
  margin-top: 1em;
  button {
    margin-top: 0.5em;
  }
}

.add-tag {
  cursor: pointer;
}

.mini-upload {
  border: 1px solid #008B00;
  padding: 8px 40px;
  text-align: center;
  background-color: #EEFFEE;
  border-radius: 2px;
}

#tag-bar {
  position: fixed;
  left: 0;
  height: 100%;
  margin-top: -20px;
  background-color: #f8f8f8;
  width: 18em;
  text-align: center;
  padding: 0.5em;
  div {
    padding: 0.5em 1em;
  }
}