{{#photo-paging next_photo='next' previous_photo='previous'}}
  <button class="btn btn-primary top-back-button" {{action 'back'}}>
    <span class="glyphicon glyphicon-arrow-left"></span>
  </button>

  <img {{bind-attr src=model.full_photo_path}} class="full-photo"/>
{{/photo-paging}}